.page-header
  flex-shrink: 0
  overflow: hidden

  +e('inner')
    //background-image: url("../img/header.svg")
    backface-visibility: hidden
    transform: translateZ(0)
    background-position: bottom
    background-size: cover
    padding: 12.5px 15.5px 20px
    position: absolute
    width: 100%
    z-index: 2
    //margin: 0 -2px
    box-sizing: border-box
    content: ""
    //margin: 0 -1%
    height: 80px
    top: 0
    left: 0
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='320' height='83' viewBox='0 0 320 83'%3E%3Cdefs%3E%3Cpath id='oa3da' d='M.501.5H319.5v53.656L.501 82.955z'/%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cuse fill='%23161615' xlink:href='%23oa3da'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    //transform-style: preserve-3d

    +media(768px)
      height: 140px
      padding-top: 20px
      padding-left: 20px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1440' height='130' viewBox='0 0 1440 130'%3E%3Cdefs%3E%3Cpath id='flyta' d='M1440 0H0v130z'/%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cuse fill='%23161615' xlink:href='%23flyta'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")

    +media(1024px)
      padding-top: 22px

    +media(1700px)
      padding-top: 40px
      height: 200px

    //+media(768px)
    //  padding-top: 20px
    //
    //+media(1700px)
    //  padding-top: 48px

    //+media(1024px)
    //  padding-top: 35px

    //+media($screen-xs)
    //  padding: 20px 15.5px 30px
    //
    //+media(540px)
    //  padding: 30px 15.5px 40px
    //
    //+media(768px)
    //  padding-bottom: 50px

  +e('pic')
    +media(1024px)
      img
        width: 190px
