.page-header
  flex-shrink: 0
  overflow: hidden

  +e('inner')
    background-image: url("../img/header.svg")
    background-position: bottom
    background-size: cover
    padding: 12.5px 15.5px 20px
    position: absolute
    width: 100%
    z-index: 1
    margin: 0 -2px
    box-sizing: border-box

    //+media($screen-xs)
    //  padding: 20px 15.5px 30px
    //
    //+media(540px)
    //  padding: 30px 15.5px 40px
    //
    //+media(768px)
    //  padding-bottom: 50px
