footer.page-footer.parallax-container(role='contentinfo')
  +b.SECTION.buy.parallax-wrapper
    +e.inner(id='footer-scene')
      +e(data-depth="0.50").decor._first.parallax-layer
        +e.IMG(src='img/choco-7.png' width='88' height='94').decor-pic
      +e(data-depth="0.60").decor._second.parallax-layer
        +e.IMG(src='img/nut-2.png' width='93' height='88').decor-pic
      +e(data-depth="0.25").decor._third.parallax-layer
        +e.IMG(src='img/cherry-1.png' width='96' height='88').decor-pic
      +e(data-depth="0.90").decor._fourth.parallax-layer
        +e.IMG(src='img/nut-3.png' width='76' height='60').decor-pic
      +e(data-depth="0.70").decor._fifth.parallax-layer
        +e.IMG(src='img/nut-5.png' width='55' height='60').decor-pic
      +e(data-depth="0.55").decor._sixth.parallax-layer
        +e.IMG(src='img/Image 75.png' width='91' height='81').decor-pic
      +e(data-depth="0.40").decor._seventh.parallax-layer
        +e.IMG(src='img/strawberry-2.png' width='151' height='120').decor-pic
      +e(data-depth="0.20").decor._eigth.parallax-layer
        +e.IMG(src='img/bar-footer-1.png' width='428' height='327').decor-pic
      +e(data-depth="0.30").decor._nineth.parallax-layer
        +e.IMG(src='img/bar-footer-2.png' width='239' height='332').decor-pic
      +e(data-depth="0.40").decor._tenth.parallax-layer
        +e.IMG(src='img/bar-footer-3.png' width='216' height='334').decor-pic
      +e.container.container
        +e.H2.title Попробуйте
          +e.PICTURE
            +e.IMG(src='img/champ-logo.svg' width='132' height='50').img
          br.desktop
          span Прямо
          span сейчас

        +e.A(href='#').btn.btn._blue Где купить?

  +e.page-footer__bottom

