+b.SECTION.intro
  +e.container
    .page-header__inner
      figure.page-header__pic
        img(src='img/champ-logo.svg' width='132' height='50')
    +e.arrows
      +e.BUTTON.arrow._left
      +e.BUTTON.arrow._right
    +e.slider
      +e.slide._yellow.parallax-container
        +e.inner._first.parallax-wrapper(id='first-slide-scene')
          +e(data-depth="0.30").decor._first.parallax-layer
          +e(data-depth="0.35").decor._second.parallax-layer
          +e(data-depth="0.40").decor._third.parallax-layer
          +e(data-depth="0.45").decor._fourth.parallax-layer
          +e(data-depth="0.20").FIGURE.pic
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/banana-slide/desktop/banana-bar.png")
              +e.IMG(src='img/banana-slide/desktop/banana-bar.png').img
          +e.H1.title
            +e.IMG(src='img/logo-dark-text.svg').tag
          +e.H2.title._small._dark Это быть активным весь день!
          +e.P.text._dark Батончик протеиновый CHAMP! &laquo;Банановый&raquo;
            +e.BR
            | Рекомендуется употреблять&nbsp;до, после или между занятиями фитнесом
          +e.UL.contains
            +e.LI.contain
              +e.SPAN PROTEIN 17%
            +e.LI.contain
              +e.SPAN VITAMIN PREMIX
            +e.LI.contain
              +e.SPAN L – CARNITIN

          +e.A(href='#features-scene' data-scroll).more Узнать больше
      +e.slide._orange.parallax-container
        +e.inner._second.parallax-wrapper(id='second-slide-scene')
          +e(data-depth="0.30").decor._first.parallax-layer
          +e(data-depth="0.35").decor._second.parallax-layer
          +e(data-depth="0.40").decor._third.parallax-layer
          +e(data-depth="0.45").decor._fourth.parallax-layer
          +e(data-depth="0.50").decor._fifth.parallax-layer
          +e(data-depth="0.20").FIGURE.pic
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/caramel-slide/desktop/caramel-bar.png")
              +e.IMG(src='img/caramel-slide/desktop/caramel-bar.png').img
          +e.H1.title
            +e.IMG(src='img/logo-dark-text.svg').tag
          +e.H2.title._small._dark Это быть активным весь день!
          +e.P.text._dark Батончик протеиновый CHAMP! &laquo;Карамельный&raquo;
            +e.BR
            | Рекомендуется употреблять&nbsp;до, после или между занятиями фитнесом
          +e.UL.contains
            +e.LI.contain
              +e.SPAN PROTEIN 17%
            +e.LI.contain
              +e.SPAN L – CARNITIN

          +e.A(href='#features-scene' data-scroll).more Узнать больше
      +e.slide._pink.parallax-container
        +e.inner._third.parallax-wrapper(id='third-slide-scene')
          +e(data-depth="0.30").decor._first.parallax-layer
          +e(data-depth="0.35").decor._second.parallax-layer
          +e(data-depth="0.40").decor._third.parallax-layer
          +e(data-depth="0.45").decor._fourth.parallax-layer
          +e(data-depth="0.50").decor._fifth.parallax-layer
          +e(data-depth="0.20").FIGURE.pic
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/cherry-slide/desktop/cherry-bar.png")
              +e.IMG(src='img/cherry-slide/desktop/cherry-bar.png').img
          +e.H1.title
            +e.IMG(src='img/logo-dark.svg').tag
          +e.H2.title._small Это быть активным весь день!
          +e.P.text Батончик протеиновый CHAMP! &laquo;Шоколадная вишня&raquo;
            +e.BR
            | Рекомендуется употреблять&nbsp;до, после или между занятиями фитнесом
          +e.UL.contains
            +e.LI.contain
              +e.SPAN PROTEIN 17%
            +e.LI.contain
              +e.SPAN L – CARNITIN

          +e.A(href='#features-scene' data-scroll).more._white Узнать больше
      +e.slide._lightpink.parallax-container
        +e.inner._fourth.parallax-wrapper(id='fourth-slide-scene')
          +e(data-depth="0.30").decor._first.parallax-layer
          +e(data-depth="0.35").decor._second.parallax-layer
          +e(data-depth="0.40").decor._third.parallax-layer
          +e(data-depth="0.45").decor._fourth.parallax-layer
          +e(data-depth="0.20").FIGURE.pic
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/strawberry-slide/desktop/strawberry-bar.png")
              +e.IMG(src='img/strawberry-slide/desktop/strawberry-bar.png').img
          +e.H1.title
            +e.IMG(src='img/logo-dark.svg').tag
          +e.H2.title._small Это быть активным весь день!
          +e.P.text Батончик протеиновый CHAMP! &laquo;Клубничный&raquo;
            +e.BR
            | Рекомендуется употреблять&nbsp;до, после или между занятиями фитнесом
          +e.UL.contains
            +e.LI.contain
              +e.SPAN PROTEIN 17%
            +e.LI.contain
              +e.SPAN VITAMIN PREMIX
            +e.LI.contain
              +e.SPAN COLLAGEN
            +e.LI.contain
              +e.SPAN COENZYM Q10
            +e.LI.contain
              +e.SPAN L – CARNITIN

          +e.A(href='#features-scene' data-scroll).more._white Узнать больше
      +e.slide._green.parallax-container
        +e.inner._fifth.parallax-wrapper(id='fifth-slide-scene')
          +e(data-depth="0.30").decor._first.parallax-layer
          +e(data-depth="0.35").decor._second.parallax-layer
          +e(data-depth="0.40").decor._third.parallax-layer
          +e(data-depth="0.45").decor._fourth.parallax-layer
          +e(data-depth="0.50").decor._fifth.parallax-layer
          +e(data-depth="0.55").decor._sixth.parallax-layer
          +e(data-depth="0.60").decor._seventh.parallax-layer
          +e(data-depth="0.20").FIGURE.pic
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/nut-slide/desktop/nut-bar.png")
              +e.IMG(src='img/nut-slide/desktop/nut-bar.png').img
          +e.H1.title
            +e.IMG(src='img/logo-dark-text.svg').tag
          +e.H2.title._small._dark Это быть активным весь день!
          +e.P.text._dark Батончик протеиновый CHAMP! &laquo;Ореховый&raquo;
            +e.BR
            | Рекомендуется употреблять&nbsp;до, после или между занятиями фитнесом
          +e.UL.contains
            +e.LI.contain
              +e.SPAN PROTEIN 17%
            +e.LI.contain
              +e.SPAN VITAMIN PREMIX
            +e.LI.contain
              +e.SPAN L – CARNITIN

          +e.A(href='#features-scene' data-scroll).more Узнать больше
      +e.slide._blue.parallax-container
        +e.inner._sixth.parallax-wrapper(id='sixth-slide-scene')
          +e(data-depth="0.30").decor._first.parallax-layer
          +e(data-depth="0.35").decor._second.parallax-layer
          +e(data-depth="0.25").decor._third.parallax-layer
          +e(data-depth="0.35").FIGURE.pic._absolute._big.parallax-layer
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/vanilla-slide/desktop/shaker.png")
              +e.IMG(src='img/vanilla-slide/desktop/shaker.png').img
          +e(data-depth="0.20").FIGURE.pic._big._pack
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/vanilla-slide/desktop/vanilla-cocktail.png")
              +e.IMG(src='img/vanilla-slide/desktop/vanilla-cocktail.png').img
          +e.H1.title
            +e.IMG(src='img/logo-dark-text.svg').tag
          +e.H2.title._small._dark Это быть активным весь день!
          +e.P.text._dark Ванильный протеиновый коктейль CHAMP!
            +e.BR
            | вкусный и&nbsp;необычный перекус, который наполняет энергией
          +e.UL.contains
            +e.LI.contain
              +e.SPAN PROTEIN 25%
            +e.LI.contain
              +e.SPAN С ПРЕБИОТИКАМИ
            +e.LI.contain
              +e.SPAN НА ФРУКТОЗЕ
            +e.LI.contain
              +e.SPAN ИСТОЧНИК ХРОМА

          +e.A(href='#features-scene' data-scroll).more Узнать больше
      +e.slide._brown.parallax-container
        +e.inner._seventh.parallax-wrapper(id='seventh-slide-scene')
          +e(data-depth="0.30").decor._first.parallax-layer
          +e(data-depth="0.35").decor._second.parallax-layer
          +e(data-depth="0.40").decor._third.parallax-layer
          +e(data-depth="0.40").decor._fourth.parallax-layer
          +e(data-depth="0.35").decor._fifth.parallax-layer
          +e(data-depth="0.35").FIGURE.pic._absolute._big.parallax-layer
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/vanilla-slide/desktop/shaker.png")
              +e.IMG(src='img/vanilla-slide/desktop/shaker.png').img
          +e(data-depth="0.20").FIGURE.pic._big._pack
            +e.PICTURE
              //+e.SOURCE(media="(min-width: 768px)" srcset="img/chocolate-slide/desktop/chocolate-cocktail.png")
              +e.IMG(src='img/chocolate-slide/desktop/chocolate-cocktail.png').img
          +e.H1.title
            +e.IMG(src='img/hashtag.svg').tag
          +e.H2.title._small Это быть активным весь день!
          +e.P.text Шоколадный протеиновый коктейль CHAMP!
            +e.BR
            | вкусный и&nbsp;необычный перекус, который наполняет энергией
          +e.UL.contains
            +e.LI.contain
              +e.SPAN PROTEIN 25%
            +e.LI.contain
              +e.SPAN С ПРЕБИОТИКАМИ
            +e.LI.contain
              +e.SPAN НА ФРУКТОЗЕ
            +e.LI.contain
              +e.SPAN ИСТОЧНИК ХРОМА

          +e.A(href='#features-scene' data-scroll).more._white Узнать больше



    +e.controls
      +e.UL.list
        +e.LI.control._yellow
          +e.desc Банан
        +e.LI.control._orange
          +e.desc Карамель
        +e.LI.control._pink
          +e.desc Вишня + Шоколад
        +e.LI.control._lightpink
          +e.desc Клубника
        +e.LI.control._green
          +e.desc Орехи
        +e.LI.control._blue
          +e.desc Ваниль
        +e.LI.control._brown
          +e.desc Шоколад
